html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.canvas-container {
    border: solid 3px rgb(33, 116, 26);
    border-bottom: solid 3px rgb(178, 177, 197);
    border-radius: 10px;
}

.main {
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: space-around;
}
